<!doctype html>
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-117586412-3"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-117586412-3');
	</script>
	
	<title>
	ppaa {%block title%}{%endblock%}
	</title>
	<link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
  	<script type="text/javascript" src="{{url_for('static',filename='script.js')}}"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta property="og:type" content="website" />
	<meta property="og:title"content="Easy bookmark on any browser" />
	<meta property="og:image" content="https://lh3.googleusercontent.com/t4JAqrFjmplpOYpJgetgzG18lO6LgCr3H1IsaAs2MxAYiogV6Yf9L9btuBPXpytWQrM_ZBZxgsg4Sj0ZemdD-1xmUMbtVdLBIhIPy6YOYqjyg-YwjPCRQOqlmYpB_pk2ziqjdYz7_6V4EQWt6Ob9z1ean8F5_NfYfHRCCoLJzoODs_Ghk4_rt5Bl_HCjT5C2y_ep-0psI_-b5hPsGkzHsZV9ecHDtPngGA63RS2Yy0Q_FFhbWpkeNSNVw2O1iIMMYZCdtfYw44yiG7EbkJLE7fLesuhzpHQsoAgzACJdjuJ3bYbY-27T5zSv1MNaWpTQK4Z_nE6OD5n2j7Y9PQQ0tTzCD8ces0Qn-FBC3t2H0NPSdtPz-RmE5y-W-Ci6gPRSg3QtBy72nNuDz6G0YlCClJnqEwfcYhVnINhdjLAMYxrdDSks72zwMMjZnDNFceoMffOryGpIKXQwMoHy1PiGF7K4l1f76t2ZK1dbU1Z38OmHaraH1pJ0URY3PzmBT8sLUlspbtvvl_y1Yuiye48fmKTzpWMUxR0br9qy2qWNQFLNHi78Iq6oaG2Phajw-bWeq7WoPswDBIzfTx9X0Rq6GZAzY3tQsVU_5FkSXbxApBmfd4w9tayusrruDLFEnkehIWYVzP6FNdtLLGKets_XoDg2Q69qsriTopWOLFy8FE41Zf9DY1TUaLCFdf-E-0PunAIcsdTWvQsmBpyJrsH9SInmuw=w1446-h950-no"/>
	<meta property="og:description"		content="cut & paste the link to the address bar with ppaa.me" />
</head>

<body class="white-gray-bg">
	<nav class="fixed-top white-bg">
		<div class='logo'>
			<a href="/">ppaa</a>
		</div>
		<div class="menu thm-font">
			{% if g.user %}
			<a href="{{ url_for('auth.logout')}}" class="btn white-bg">{{_('b-logout')}}</a>
			<a href="{{ url_for('auth.configure')}}" class="btn deep-green-bg white-font">{{_('b-profile')}}</a>
			{% else %}
			<a href="{{url_for('auth.login')}}" class="btn white-bg">{{_('b-login')}}</a>	
			<a href="{{url_for('auth.sign_up')}}" class="btn deep-green-bg white-font">{{_('b-signup')}}</a>
			{% endif %}
		</div>
	</nav>

	<section class="content">
		{%block header %}{% endblock %}
		{%for msg in get_flashed_messages() %}
		<div class="flash lv2-font mono-font">
			{{msg}}
		</div>
		{% endfor %}
		{%block content%}{% endblock %}
	</section>
	
	<div class="footer">
		<div class="description mono-font lighter">
			<span>Contact me :</span>
			<span>parkjani2@gmail.com</span>
		</div>
		<div class="copyright lv4-font">
			 <span>© Copyright 2019. <a href="https://jaeyeon-park.github.io/" class="underline hover-color">Jaeyeon-park</a></span>
		</div>
	</div>
</body>
