<!doctype html>
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-117586412-3"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-117586412-3');
	</script>
	
	<title>
	ppaa {%block title%}{%endblock%}
	</title>
	<link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
  	<script type="text/javascript" src="{{url_for('static',filename='script.js')}}"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta property="og:url"				content="http://ppaa.me" />
	<meta property="og:type" 			content="website" />
	<meta property="og:title"			content="Easy bookmark on any browser" />
	<meta property="og:description"		content="cut & paste link to the address bar with ppaa.me" />
</head>

<body class="white-gray-bg">
	<nav class="fixed-top white-bg">
		<div class='logo'>
			<a href="/">ppaa</a>
		</div>
		<div class="menu thm-font">
			{% if g.user %}
			<a href="{{ url_for('auth.logout')}}" class="btn white-bg">Log Out</a>
			<a href="{{ url_for('auth.configure')}}" class="btn deep-green-bg white-font">Profile</a>
			{% else %}
			<a href="{{url_for('auth.login')}}" class="btn white-bg">Log In</a>	
			<a href="{{url_for('auth.sign_up')}}" class="btn deep-green-bg white-font">Sign Up </a>
			{% endif %}
		</div>
	</nav>

	<section class="content">
		{%block header %}{% endblock %}
		{%for msg in get_flashed_messages() %}
		<div class="flash lv1-font">
			{{msg}}
		</div>
		{% endfor %}
		{%block content%}{% endblock %}
	</section>
	
	<div class="footer">
		<div class="description mono-font lighter">
			<span>Contact me :</span>
			<span>parkjani2@gmail.com</span>
		</div>
		<div class="copyright lv4-font">
			 <span>© Copyright 2019. <a href="https://jaeyeon-park.github.io/" class="underline hover-color">Jaeyeon-park</a></span>
		</div>
	</div>
</body>
