/* change in thm.css for mobile */
.lv1-font{font-size:1.5rem;}
.lv2-font{font-size:1.2rem;}
.lv3-font{font-size:1.0rem;}
.lv4-font{font-size:0.8rem;}

/************/

nav{
	display:flex;
	align-items:center;
	padding:1rem 1rem;
}
.btn{
	margin:.15rem .15rem;
}
nav .logo{font-size:1.5rem;}
nav .menu{margin-left:auto;font-size:.85rem;}
.content{
	display:flex;flex-direction:column;
	padding-top:5rem;
	padding-bottom:4rem;
	width:95%;
}
.flash{
	align-self:center;
}

/*For index */
.index-container{
	display:flex; flex-direction:column;
	align-items:center;align-self:stretch;
}
.index-container .intro-container{
	display:flex;flex-direction:column;
	align-items:center;align-self:stretch;
}
.intro-container .catchphrase{
	align-self:stretch;
	font-size:1.8rem;
	text-align:left;
	margin-bottom:1rem;
}
.catchphrase .phrase{
	margin:0rem auto;
	margin-bottom:1rem;
	line-height:1.35em;
	text-align:center;
	white-space:pre-line;
}
.catchphrase .description{
	margin-top:1.5rem;
	line-height:1.35em;
	font-size:1rem;
}
.intro-container .intro{
	display:flex;flex-direction:column;
	align-items:stretch;align-self:stretch;
	margin-bottom:1rem;
	text-align:center;
}
.intro .detail{	white-space:pre-line;}
.intro .description{
	margin-top:1rem;
	align-self:center;
	text-align:left;
	font-size:1rem;
}
.description .tips{margin-bottom:.5rem;}
.intro .btn{
	display:block;
	align-self:stretch;
	margin:0rem 0rem;
	margin-right:.5em;
	margin-bottom:1rem;
}
.intro .example{
	margin-top:1rem;
	font-size:1rem;
}

/****** for login template ***********/
.account{
	display:flex;flex-direction:column;
	align-items:center;
	margin-top:auto;margin-bottom:auto;
}
.account .logo{margin-bottom:3rem;}
.account form{
	display:flex; flex-direction:column;
	align-items:center;
}
.account form label{display:inline-block;align-self:flex-start;margin-bottom:1rem;}
.account .user-attr-container{
	display:flex;
	align-items:center;align-self:flex-start;
	margin-bottom:1.5rem;
	min-width:10em;
	width:100%;
}
.user-attr-container .user-attr{width:40%;margin:0 0;margin-right:1rem;}
.user-attr-container .user-val{width:60%;margin:0 0;}
.account input[type='submit']{
	align-self:flex-end;
	margin-right:0rem;
}

/****** for marks template ***********/
.header{
	display:flex;flex-direction:column;
	align-items:flex-start;align-self:flex-start;
	margin-bottom:1rem;
}
.header .user{
	display:flex;
	align-items:center;align-self:flex-start;
}

.marks-tags{
	display:flex;flex-direction:column-reverse;
	align-items:center;
}
.tag-box{
	width:100%;
	line-height:1.5em;
}
.tag-box .tag{
	margin-right:.5rem;
}

.mark-box{
	padding:.5rem .2rem;
	display:flex;flex-direction:column;
	align-items:center;
	margin-top:1rem;
	width:100%;
}
.mark-box .columns{
	column-gap:0;
	-webkit-column-gap: 0;
	columns:1;
	width:100%;
	column-fill:balance;
}

.mark-box .one-mark{
	display:flex;flex-direction:column;
	align-items:flex-start;
	align-self:stretch;
	padding:.5rem .5rem;
	margin-bottom:1rem;
}

.mark-box .mark-container{
	display:flex;
	flex-wrap:wrap;
	width:100%;
	margin-bottom:0rem;
}
.mark-container .link-container{
	display:flex; flex-direction:column;
	align-items:flex-start;
	min-width:5em;
	width:100%;
	flex-grow:1;
	margin-bottom:.2rem;
}
.link-container .link{width:100%;text-align:left;}
.one-mark .tag-form{
	display:flex;
	align-items:center; align-self:stretch;
	padding-left:.5rem;padding-right:.5rem;
	margin-left:.5rem;margin-right:.5rem;
	margin-top:.5rem;margin-bottom:0rem;
	height:1.3em;
	flex-grow:1;
}
.tag-form input{width:100%;}
.one-mark .del{
	display:flex;
	align-items:center;align-self:stretch;
	height:1.3em;
	margin-top:.5rem;margin-bottom:0rem;
	margin-left:0rem;margin-right:.5rem;
}
.one-mark .tag-container{
	align-self:stretch;
	margin:0rem .5rem;
	text-align:left;
}
.tag-container .tag form{
	margin:0 0;
}
.tag-container .tag .del-tag{
	margin:0 0;
	padding-left:0rem;
}
