{% extends 'base.html' %}

{% block content %}
	<div class="account">
		<h1 class='logo mb-3'>
			<span>{% block title %}{{_('login-title')}}{% endblock %}</span>
		</h1>
		<form method='post'>
			<label class="lv2-font">{{_('signup-email')}}</label>
			<div class="user-attr-container">
				<input class="user-val lv3-font round-box" type="email" name='email' id='email' required placeholder="e.g., park@jaeyeon.com" style="width:100%">
			</div>
			<label class="lv2-font">{{_('signup-pw')}}</label>
			<div class="user-attr-container">
				<input class="user-val lv3-font round-box"type='password' id='pw' name='pw' required placeholder="{{_('signup-pw-placeholder')}}"  style="width:100%">
			</div>	
			<input class="lv3-font btn deep-green-bg white-font" type='submit' value='Log In'>
		</form>
	</div>
{% endblock %}