{% extends 'base.html' %}

{% block content %}

<div class="index-container">
	<div class="intro-container">
		<div class="catchphrase light-plain-font">
			<div class="phrase logo ">ppaa</div>
			<div class="phrase">{{_('i-phrase')}}</div>
			<div class="description ">{{_('i-description')}}</div>
		</div>
		
		<div class="intro lv2-font plain-font">
			<div class="detail bold">
				<a href="{{url_for('auth.sign_up')}}" class="btn deep-green-bg white-font thm-font">{{_('b-signup')}}</a><span>{{_('i-signup-detail')}}</span>
			</div>
			<div class="example round-box deep-green-font">
				<span id="loc-origin"></span>/<span class="mono-font">{{_('i-username')}}</span>/<span class="mono-font">{{_('m-link')}}</span>
			</div>
			<div class="description mono-font lv2-font">
				<div class="tips">ctrl+l : {{_('i-ctrlL')}}</div>
				<div class="tips">ctrl+a : {{_('i-ctrlA')}}</div>
				<div class="tips">ctrl+x : {{_('i-ctrlX')}}</div>
				<div class="tips bold"style="">{{_('m-link')}} : {{_('i-ctrlV')}}</div>
			</div>
		</div>
		
		<div class="intro lv2-font plain-font">
			<div class="detail bold">
				<a href="{{url_for('auth.login')}}" class="btn white-bg thm-font">{{_('b-login')}}</a><span>{{_('i-login-detail')}}</span>
			</div>
		</div>

	</div>	
</div>

{%endblock%}