{% extends 'base.html' %}

{% block header%}
<div class="header">
	<div class="user">
		<div class="lv1-font thm-font">
				<span>{{data['counts']}} {{_('m-marks')}}</span>
		</div>
	</div>
	{% if data['target_tag']%}
	<div class="lv1-font mono-font deep-green-font">
			#{{data['target_tag']}}
	</div>
	{%endif%}
</div>
{% endblock %}



{% block content %}

<div class="marks-tags">

	<div class="cyan-green-bg round-box mark-box">
		{% if data['counts'] == 0 %}
		<div class="lv2-font">
			<div class="thm-font like-btn white-bg">
				{{_('m-fill')}}
			</div>
		</div>
		<div class="lv2-font">
			<div class="mono-font like-btn white-bg" style="text-align:left">
				<span id="loc-origin">/{{g.user['username']}}/<span class="mono-font bold">{{_('m-link')}}</span>
				</span>
			</div>
		</div>
		{%endif%}
		
		<div class="columns">
			{% include 'mark/marks-boxes.html' %}
		</div>
		
		
	</div>
	
	<div class="tag-box mono-font ">
		<div>
			<a class=" lv1-font underline hover-color hover-underline"href="{{url_for('mark.index')}}">All</a>
		</div>
		{%if data['tag_counter']%}
			{% for (tag,count) in data['tag_counter'].items()%}
			<a href="/mark?tag={{tag}}" class=" hover-color hover-underline tag">#{{tag}}</a>
			{% endfor %}
		{%else%}
			<div class="tag">
				No tag yet
			</div>
		{%endif%}
	</div>


</div>



{% endblock %}

