{% for mark in data['marks']%}
	<div class="one-mark round-box">
		<div class="mark-container">
			<div class="white-bg like-btn link-container">
				<div class="lv3-font link">

					<a  href="/api/link/{{mark['link']}}" class="hover-color" target="_blank" >
					{% if data['og_tags'][mark].image %}
					<img src="{{data['og_tags'][mark].image}}" width="100%" height="auto" class="round-box">
					{%endif%}
					<div class="title">
					{{data['og_tags'][mark].title}}
					</div>
					</a>
				</div>
				<div class="lv4-font description">
					{{data['og_tags'][mark].description}}
				</div>
				<div class="lv4-font gray-font">
					<span>{{mark['created']}} / </span>
					<span style="margin-left:auto; ">{{mark['view_count']}} views</span>
				</div>
			</div>
			<form method="post" action="/api/add_tag" class="white-bg like-btn tag-form">
				<input type="text" name="link" id="link" value="{{mark['link']}}" style="display:none">
				<input class="no-border mono-font lv4-font" name="tag" id="tag" placeholder="#tag" required>
				<input type="submit" value="add" style="visibility:hidden;position:absolute;width:0px">
			</form>
			<a href="/api/del/{{mark['link']}}" class="white-bg btn del">
				<div>X</div>
			</a>
		</div>
		<div class="like-btn white-font mono-font tag-container">
			{% if data['tags'][mark] %}
				{% for tag in data['tags'][mark] %}
				<span class="tag">
					<a href="/mark?tag={{tag}}" class="hover-underline">#{{tag}}</a>
					<form action="/api/del_tag" method="post" class="inline">
						<input style="display:none" name='link'value="{{mark['link']}}">
						<input style="display:none" name='tag' value="{{tag}}">
						<input type="submit" class="hover-color del-tag" value="X">
					</form>
				</span>
				{% endfor %}
			{% else %}
				<span> No tag yet</span>
			{% endif %}
		</div>
	</div>
{% endfor %}