{% extends 'base.html' %}
{% block header %}

{% endblock %}

{% block content %}
<div class="account">
	<h1 class="logo">
		{%block title %}Profile{%endblock%}
	</h1>
	<form method="post">
		<div class="user-attr-container">
			<label class="lv3-font">Email</label>
			<span class="lv3-font round-box like-input-layout">{{g.user['email']}}</span>
		</div>
		<div class="user-attr-container">
			 <label class="lv3-font" for="username">username</label>
			<span class="lv3-font round-box like-input-layout">{{g.user['username']}}</span>
		</div>
		<div class="user-attr-container">
			 <label class="lv3-font" for="old-pw">old password</label>
			<input class="lv3-font round-box" type='password' id='old-pw' name='old-pw' required>
		</div>
		<div class="user-attr-container">
			 <label class="lv3-font" for="new-pw">new password</label>
			<input class="lv3-font round-box" type='password' id='new-pw' name='new-pw'>
		</div>
		<div class="user-attr-container">
			 <label class="lv3-font" for="new-pw-confirm">confirm new password</label>
			<input class="lv3-font round-box" type='password' id='new-pw-cofirm' name='new-pw-confirm'>
		</div>	
		<input class="lv3-font btn "type='submit' value='Update'>
	</form>
</div>
{% endblock %}