{% extends 'base.html' %}

{% block header%}
<div class="header">
	<div class="user">
		<div class="lv1-font thm-font">
				<span>{{data['counts']}} marks</span>
		</div>
	</div>
	{% if data['target_tag']%}
	<div class="lv1-font mono-font deep-green-font">
			#{{data['target_tag']}}
	</div>
	{%endif%}
</div>
{% endblock %}



{% block content %}

<div class="marks-tags">

	<div class="cyan-green-bg round-box mark-box">
		{% if data['counts'] == 0 %}

		<div class="lv2-font">
			<div class="thm-font like-btn white-bg">
				Fill your bookmarks!
			</div>
		</div>
		<div class="lv2-font">
			<div class="mono-font like-btn white-bg" style="text-align:left">
				<span id="loc-origin">/{{g.user['username']}}/<span class="mono-font bold">link you want to mark</span>
				</span>
			</div>
		</div>

		{%endif%}



		{% for mark in data['marks']%}

		<div class="one-mark round-box">
			<div class="mark-container">
				<div class="white-bg like-btn link-container">
					<div class="lv4-font gray-font">
						<span>{{mark['created']}} / </span>
						<span style="margin-left:auto; ">{{mark['view_count']}} views</span>
					</div>
					<div class="lv3-font link">
						<a  href="/api/link/{{mark['link']}}" class="hover-color ellipsis" target="_blank" >
							{{mark['link']}}
						</a>
					</div>
				</div>
				<form method="post" action="/api/add_tag" class="white-bg like-btn tag-form">
					<input type="text" name="link" id="link" value="{{mark['link']}}" style="display:none">
					<input class="no-border mono-font lv3-font" name="tag" id="tag" placeholder="#tag" required>
					<input type="submit" value="add" style="visibility:hidden;position:absolute">
				</form>
				<a href="/api/del/{{mark['link']}}" class="white-bg btn del">
					<div>X</div>
				</a>
			</div>
			<div class="like-btn white-font mono-font tag-container">
				{% if data['tags'][mark] %}
					{% for tag in data['tags'][mark] %}
					<span class="tag">
						<a href="/mark?tag={{tag}}" class="hover-underline">#{{tag}}</a>
						<form action="/api/del_tag" method="post" class="inline">
							<input style="display:none" name='link'value="{{mark['link']}}">
							<input style="display:none" name='tag' value="{{tag}}">
							<input type="submit" class="hover-color del-tag" value="X">
						</form>
					</span>
					{% endfor %}
				{% else %}
					<span> No tag yet</span>
				{% endif %}
			</div>
		</div>
		{% endfor %}
		
	</div>
	
	<div class="tag-box mono-font ">
		<div>
			<a class=" lv1-font underline hover-color hover-underline"href="{{url_for('mark.index')}}">All</a>
		</div>
		{%if data['tag_counter']%}
			{% for (tag,count) in data['tag_counter'].items()%}
				<a href="/mark?tag={{tag}}" class=" hover-color hover-underline tag">#{{tag}}</a>
			{% endfor %}
		{%else%}
			<div class="tag">
				No tag yet
		</div>
		{%endif%}
	</div>


</div>



{% endblock %}

